.container {
    background-color: #091f43;
    display: flex;
    justify-content: space-evenly;
    height: 6rem;
    align-items: center;
    border-bottom: 10px solid #ba4d55;
}

.flex_right {
    display: flex;
    margin-right: 1rem;
}

.flex_right a {
    color: #e9ecef;
    cursor: pointer;
    font-weight: bold;
}

.flex_right a:hover {
    color: #FFCC66;
    text-decoration: underline;
    text-align: center;
}

.flex_right a:focus {
    background-color: #FFCC66;
    color: #18020C;
    font-weight: bold;
}

.flex_right a:nth-child(1) {
    margin-right: 3.5rem;
}

.flex_left {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #e9ecef;
}

.flex_left:hover {
    text-decoration: none;
    color: #FFCC66;
}


/*------*/

.containerLogout {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    border-bottom: 10px solid #FFCC66;
}

.logout {
    display: flex;
}

.logout a {
    color: #FFCC66;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #e9ecef;
    padding: 0.5rem;
}

.logout a:hover {
    text-decoration: none;
    background-color: rgb(7, 20, 20);
}

.logout a:nth-child(1) {
    margin-right: 30rem;
    display: block;
    text-align: right;
}

.logout a:nth-child(2) {
    margin-right: 2rem;
}

.logo {
    margin-left: 30rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #e9ecef;
}

.logo:hover {
    text-decoration: none;
    color: #FFCC66;
}


/*dee2e6*/


/*
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Redressed', cursive


*/