.container {
    width: 50%;
    padding: 2rem;
    margin-top: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.container h5 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-decoration: #FFCC66 underline;
}

.container h5:hover {
    color: #FFCC66;
}

.container p {
    font-family: 'Redressed', cursive;
    font-size: 20px;
}

.posts button {
    border-radius: 10rem;
    font-weight: bolder;
}

.posts button:hover {
    background-color: #FFCC66;
    color: #212529;
}

.titlecomment {
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.comments {
    display: flex;
    margin-bottom: 15px;
}

.comments p {
    width: 65%;
    margin-bottom: 0;
    font-size: 18px;
}

.comments span {
    width: 35%;
    font-size: 10px;
}