.container {
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container span {
    color: #e9ecef;
    text-align: center;
    margin-bottom: 1rem;
}

.container button {
    width: 30%;
    margin: 0 auto;
}