.container {
    background-color: #122442;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 6rem 0rem 2rem 18rem;
}

.container span {
    color: #e9ecef;
    margin-bottom: 1rem;
    font-weight: 900;
    margin-left: 13rem;
}

.container button {
    display: block;
    border-radius: 10rem;
    margin-top: 1rem;
    font-weight: 900;
    width: 30%;
    margin-left: 12rem;
}

.uploadImage input {
    margin-left: 7rem;
    margin-bottom: 11px;
    height: 30px;
    border-radius: 10rem;
    width: 76%;
    font-weight: 700;
    background-color: #2f807f;
}

.uploadImage label {
    display: none;
}

.container label {
    color: #e9ecef;
    width: 14%;
    font-size: 13px;
}