.container {
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 6rem 0rem 2rem 18rem;
}

.container span {
    color: #e9ecef;
    text-align: center;
    margin-bottom: 1rem;
}

.container button {
    margin-left: 18rem;
    margin-top: 1rem;
    width: 15%;
    color: rgb(37, 27, 27);
    font-weight: 900;
}

.container button:hover {
    background-color: teal;
    color: rgb(37, 27, 27);
    font-weight: 900;
}

.uploadImage input {
    margin-left: 7rem;
    margin-bottom: 11px;
    height: 30px;
    border-radius: 10rem;
    width: 82%;
    font-weight: 700;
    background-color: #2f807f;
}

.container label {
    color: #e9ecef;
    width: 14%;
    font-size: 13px;
}