.form button {
    margin-bottom: 4rem;
    display: block;
    border-radius: 10rem;
    margin-top: 0.5rem;
    font-weight: 900;
    width: 30%;
    margin-left: 1rem;
}

.form button:hover {
    background-color: #2f807f;
    color: rgb(37, 27, 27);
}

.inputNoneComment {
    display: none;
}