.container {
    background-color: #212529;
    height: 100vh;
}

.form {
    background-color: #212529;
    width: 18%;
    display: inline-block;
    margin-top: 15rem;
    margin-left: 49rem;
    padding: 6rem 1.3rem 2rem 1.3rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.form span {
    color: #e9ecef;
    text-align: center;
}

.form input {}

.form div {}

.form span {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
    left: 4px;
}

.form button {
    margin: 0 auto;
    display: block;
    border-radius: 10rem;
    margin-top: 1rem;
}