.container {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    a {
        color: #e9ecef;
    }
    div {
        display: flex;
        margin-right: 1rem;
    }
}