.container {
    height: 100vh;
    background-color: #122442;
}

.form {
    background-color: #122442;
    width: 33%;
    display: inline-block;
    margin-top: 15rem;
    margin-left: 33rem;
    padding: 2rem;
    padding: 3rem 2rem 2rem 0rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.form span {
    color: #e9ecef;
    text-align: center;
}

.form input {}

.form span {
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
    left: 4px;
    font-weight: 900;
}

.form label {
    width: 22%;
}

.form button {
    margin: 0 auto;
    display: block;
    border-radius: 10rem;
    margin-top: 1rem;
    font-weight: 900;
}